<!DOCTYPE html>
html(lang="en")
  head
    link(rel='stylesheet' href='/css/styles.css')
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
      h1(class = "show-title")= showdata.title
      h2(class= "sub-header") Developed By
      for data in showdata.developedBy
        li= data
      h2(class= "sub-header") Starring
      for data in showdata.starring
        li= data
      h2(class= "sub-header") Seasons
        for season in showdata.seasons
          li(class= "seasons-list")
            a(href=`/season/${season.number}`)= 'Season'+season.number