<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
      h1= showdata.title
      h2 Developed By
      for data in showdata.developedBy
        li= data
      h2 Starring
      for data in showdata.starring
        li= data
      h2 Seasons
      for data in showdata.seasons
        li
          a(href='#')= 'Season' + ' ' + data.number
